
body {
	background-image:"https://i.pinimg.com/originals/4f/93/0b/4f930bffc00671871f0cc72feff7f7d9.jpg"
    background-color: #094;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}